@import "tailwindcss";

@theme {
  --font-sans:
    Geist, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-serif: Alice, "Alice Fallback", serif;
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    monospace;

  --color-text-primary: var(--color-neutral-950);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-tertiary: var(--color-neutral-500);
  --color-background: var(--color-neutral-50);
  --color-card-background: var(--color-white);
  --color-card-border: var(--color-neutral-200);
  --color-divider: var(--color-neutral-200);
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    color: var(--color-text-primary);
    flex-direction: column;
    font-optical-sizing: auto;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: slashed-zero;
    font-family: var(--font-sans), sans-serif;
    text-decoration-skip-ink: auto;
    text-spacing-trim: space-first;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    background-color: var(--color-background);
  }
}
